.connect {
    text-align: center;
    color: black;
}

form {
    display: inline-block;
    padding: 0 100px 15px;
    margin-top: 15px;
    background-color: white;
}

h1 {
    color: black;
}

#validation {
    background-color: grey;
    color: white;
}
