table, tr, th, td {
	border: 1px solid;
}

table {
	background-color: grey;
	margin: auto;
}

th {
	text-align: center;
	padding: 1%;
}

.ID {
	font-weight: bold;
	text-align: center;
}



