legend {
    color: white;
}

input {
    padding: 5px;
    width: 100%;
}

#button_save_form {
    width: 100px;
}

@media screen and (max-width: 768px) {
    input {
        padding: 5px;
        width: 100%;
    }

    #button_save_form {
        width: 100%;
    }
}

