body {
    background-color: #bf0e00;
}

.navbar {
    margin: 0 -15px;
    border-width: 0px;
    border-radius: 0px;
    background-color: #393939;
}

.navbar-default .navbar-brand {
    color: white;
}


.navbar-default .navbar-nav>li>a  {
    color: white;
}

/*quand on survole*/
.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover  {
    color: white;
    background-color: grey;
}

#footer {
    text-align: center;
    background-color: #393939;
    color: white;
    height: 60px;
    margin: 15px -15px 0;
    line-height: 60px;
}
